@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline text-textcolor hover:text-accent visited:text-textcolor active:text-linkactive;
}

h3 {
  @apply text-2xl font-bold;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 820px) {
  .container {
      max-width: 820px;
  }
}
@media (min-width: 820px) {
  .container {
      max-width: 90%;
  }
}
@media (min-width: 1510px) {
  .container {
      max-width: 1510px;
  }
}